<div class="top-container">
    <div class="intro-item">
        <p class="p1-top-head-text">HI, WE ARE</p>
        <img src="/images/Fjord_logo.svg" height="120em" alt="">
        <p class="p1-launch-date">2020.11-</p>
    </div>
    <div class="intro-item">
        <p class="p1-bottom-head-text">We make Brands & Experiences come to life.</p>
        <p>ブランドの本質的価値と生活者視点を掛け合わせて洗練された体験を築き、成果創出まで一気痛感で行う。</p>
    </div>
</div>
