<div class="top-container p4-container">
    <div class="p4-item">
        <img src="/images/Fjord/P4/team_photo.jpg" alt="">
    </div>
    <div class="p4-item">
        <div class="p4-top">
            <p>Skills / Talent</p>
        </div>
        <div class="p4-bottom">
            <div>
                <p>test1-0</p>
                <p>test1-1</p>
            </div>
            <div>
                <p>test2-0</p>
                <p>test2-1</p>
            </div>
        </div>
    </div>
</div>