<header>
    <h1>Welcome to our Creative Design Space</h1>
    <p>@Accenture Innovation Hub</p>
</header>


<div class="f-container">
    <div class="f-item">
        <a href="/fjord_1">
            <img src="/images/Fjord_logo.svg" height="120em" alt="">
        </a>
    </div>
    <div class="f-item">
        <img src="/images/D5_logo.svg" height="190em" alt="" >
    </div>
    <div class="f-item">
        <img src="/images/IMJ_logo.svg" height="180em" alt="" >
    </div>
    <div class="f-item">
        <img src="/images/Mackevision_logo.svg" height="190em" alt="" >
    </div>
    <div class="f-item">
        <p class="logo-font">Growth & <br> Business Design</p>
    </div>
</div>


