<div class="top-container">
    <div class="top-item">
        <h6>Welcome to</h6>
        <h1>Creative Design Space</h1>
        <h2>@Accenture Innovation Hub</h2>
    </div> 
    <div class="top-item">
        <a class="top-item-link" href="/fjord_1">
            <div >
                <img src="/images/Fjord_logo.svg" height="100vh" alt="">
            </div>
        </a>
    </div>
    </a>
    <div class="top-item">
        <img src="/images/D5_logo.svg" height="100vh" alt="" >
    </div>
    <div class="top-item">
        <img src="/images/IMJ_logo.svg" height="100vh" alt="" >
    </div>
    <div class="top-item">
        <img src="/images/Mackevision_logo.svg" height="100vh" alt="" >
    </div>
    <div class="top-item">
        <div>
            <img src="/images/Accenture-logo.svg" height="30vh" alt="">
        </div>
        <div>
             <p class="logo-font">Growth & Business Design</p>
        </div> 
    </div>
</div>


