<div class="top-container" >
    <div class="top-item">
        <img src="/images/top/title.png" alt="">
    </div> 
    <div class="top-item">
        <a href="/fjord_1">
            <img src="/images/top/fjord.png" alt="">
        </a>
    </div> 
    <div class="top-item">
        <img src="/images/top/droga5.png" alt="">
    </div> 
    <div class="top-item">
        <img src="/images/top/gandbd.png" alt="">
    </div> 
    <div class="top-item">
        <img src="/images/top/mv.png" alt="">
    </div> 
    <div class="top-item">
        <img src="/images/top/imj.png" alt="">
    </div> 
</div>
