<header>
    <h1>Welcome to our Creative Design Space</h1>
    <p>@Accenture Innovation Hub</p>
</header>


<div class="top-container">
    <div class="top-item">
        <a href="/fjord_1">
            <img src="/images/Fjord_logo.svg" height="120em" alt="">
        </a>
    </div>
    <div class="top-item">
        <img src="/images/D5_logo.svg" height="190em" alt="" >
    </div>
    <div class="top-item">
        <img src="/images/IMJ_logo.svg" height="180em" alt="" >
    </div>
    <div class="top-item">
        <img src="/images/Mackevision_logo.svg" height="190em" alt="" >
    </div>
    <div class="top-item">
        <div>
            <img src="/images/Accenture-logo.svg" height="30em" alt="">
        </div>
        <div>
             <p class="logo-font">Growth & Business Design</p>
        </div> 
    </div>
</div>


