@font-face {
  font-family: 'Graphik';
    src:url('/fonts/GraphikRegular.woff') format('woff'),
    url('/fonts/GraphikRegular.otf') format('opentype'),
    url('/fonts/GraphikRegular.ttf') format('truetype');
  }

*{ 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: Graphik;
} 

body {
  /* padding: 50px; */
  font-family: Graphik;
}

a {
  color: #00B7FF;
}

.top-container{
  display:flex;
  flex-flow:row;
  flex-wrap: wrap;
  height: max-content;
}
/* #head-top{
  display: flex;
  flex-flow:column;
  justify-content: center;
  align-items: initial;
  background-color: #C4C4C4;
  padding-left: 5em;
  padding-top:1em;
  padding-bottom:1em;
  width: 100%;
  height: 16.6vh;
  line-height: 4vh;
} */

#welcome-text{
  font-size: 3vh;
  font-weight: bold;
}
#design-space-text{
  font-size: 4vh;
  font-weight: bold;
}
#AIT-text{
  font-size: 4vh;
  font-weight: bold;
}

/* .top-container:nth-last-of-type(2){
  display: flex;
  flex-flow:column;
  width: 100%;
} */
.top-item{
  flex-basis:50%;
  height:33vh;
  /* display:flex;
  justify-content: left;
  align-items: center;
  padding-left: 5em;
  padding-top:1em;
  padding-bottom:1em;
  width: 100%;
  height: 16.6vh; */
}
.top-item img{
  height:33vh;
  width: 50vw;
}

/* #menu img{
  height: 12vh;
} */
/* .top-item-link{
  display: flex;
  width: 100%;
} */

/* .top-item:nth-of-type(1){
  flex-flow:column;
  justify-content: center;
  align-items: initial;
  background-color: #C4C4C4;
  line-height: 1em;
} */

/* .top-item h1{
  margin:0;
  padding:0;
}
.top-item h6{
  margin:0;
  padding:0;
} */
/* .top-item:nth-of-type(2){
  background-color: #ED145B;
} */
#Fjord-top{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #ED145B;
  height: 16.6vh;
  padding-left: 5em;
}
#Fjord-top img{
  height: 9vh;
}
/* .top-item:nth-of-type(3){
  background-color: #0000D5;
} */
#D5-top{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #0000D5;
  height: 16.6vh;
  padding-left: 5em;
}
#D5-top img{
  height: 13vh;
}

/* .top-item:nth-of-type(4){
  background-color: #999999;
} */
#IMJ-top{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #999999;
  height: 16.6vh;
  padding-left: 5em;
}
#IMJ-top img{
  height: 12vh;
}

/* .top-item:nth-of-type(5){
  background-color: #000000;
} */
#Mack-top{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #000000;
  height: 16.6vh;
  padding-left: 5em;
}
#Mack-top img{
  height:12vh;
}

/* .top-item:nth-of-type(6){
  flex-flow:column;
  justify-content: center;
  align-items:flex-start;
  background-color: #7500C0;
  color:white;
}
.top-item:nth-of-type(6) img{
  height: 3vh;
} */

#GB-top{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items:flex-start;
  background-color: #7500C0;
  color:white;
  height: 16.6vh;
  padding-left: 5em;
  /* padding-top:1em;
  padding-bottom:1em; */
}
#GB-top img{
  height: 3vh;
  padding-bottom: 1vh;
}

.logo-font{
  font-size: 4vh;
  line-height: 4vh;
  font-weight: bold;
}

/* P1_イントロ */
.p1-container{
  display: flex;
  flex-flow:column;
  height: max-content;
}
.p1-item1 img{
  height: 100vh;
}
/* .p1-item{
  display:flex;
  flex-flow:column;
  justify-content:flex-start;
  align-items:flex-start;
  padding-left: 5em;
  width: 100%;
  height: 50vh;
}
.p1-item:nth-of-type(1){
  background-color: #E5E5E5;
}
.p1-logo-container img{
  height:10vh;
}*/
.p1-item2{
  position: absolute;
  top:50vh;
  animation: SlideIn 3s;
} 
.p1-item2 img{
  height: 50vh;
} 
@keyframes SlideIn {
 0% {
  opacity: 0;
  transform: translateY(100%);
 }
 100% {
  opacity: 1;
  transform: translateY(0);
 }
}
/* .p1-top-text{
  padding-top: 1em;
  font-size: 4vh;
}

.p1-top-container{
  width: 100%;
  display: flex;
  flex-flow:row;
  justify-content:space-between;
  align-items:flex-start;
  padding-top: 2em;
}

.p1-launch-date{
  margin-top: 10vh;
  font-size: 3vh;
}

.p1-top-container img{
  height: 40%;
}

.p1-bottom-text{
  font-size: 6vh;
  font-weight: bold;
  line-height: 7vh;
  margin-top: 1vh;
}
.p1-bottom-detail-text{
  font-size: 2vh;
}
.p1-launch-date{
  font-weight: bold;
} */

/* P2_事例 */

.p2-container{
  display: flex;
  flex-flow:column;
  height: max-content;
}
.p2-item img{
  height: 33vh;
}
.p2-item video{
  height: 33vh;
}
/* 
.p2-item{
  display:flex;
  flex-flow:row;
  align-items:flex-start;
  width: 100%;
  height: 33vh;
  background-color: #C4C4C4;
}
.p2-item video{
  height: 100%;
}
.p2-item img{
  height: 100%;
}

.p2-top-item:nth-of-type(1){
  display: flex;
  flex-flow:column;
  height: 50%;
}
.p2-top-item:nth-of-type(2){
  height: 100%;s
} */

/* P4_チーム */
.p4-container{
  display: flex;
  flex-flow:column;
  height: max-content;
}
.p4-item1{
  animation: LeftToRight 10s;
}

@keyframes LeftToRight {
  0% {
   transform: translate(0vw,0);
  }
  100% {
    transform: translate(-200vw,0);
  }
 }

.p4-item1 img{
  height: 41vh;
}
.p4-item2{
  position:absolute;
  top:4vh;
  left:5vw;
}
.p4-item2 img{
  height:4vh;
}
.p4-item3 img{
  height: 59vh;
}

/* .p4-item{
  display:flex;
  flex-flow:column;
  justify-content:flex-start;
  align-items:flex-start;
  width: 100%;
  color: white;
}
.p4-item:nth-of-type(1){
  background-color: #E5E5E5;
  height: 40vh;
  overflow-x:scroll;
}
.p4-item:nth-of-type(1) img{
  height: 100%;
}
.p4-item:nth-of-type(2){
  background-color: #ED145B;
  height: 60vh;
}
.p4-top{
  margin-left: 5vw;
}
.p4-top p{
  font-size: 5vh;
  font-weight: bold;
}

.p4-bottom{
  display: flex;
  flex-flow:row;
  justify-content:flex-start;
  align-items:flex-start;
  width: 100%;
}
.p4-bottom-sub{
  margin-left: 5vw;
  width:50%;
}

.p4-capability-e{
  font-size: 2vh;
  margin: 1em 0em 0em 0em;
}
.p4-capability-j{
  font-size: 1vh;
  margin: 0em 0em 1em 0em;
} */


/* test */
.test-container{
  display:flex;
  flex-flow:column;
  height: max-content;
}
.test-item img{
  height: 100vh;
}