*{ 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
} 

body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.f-container{
  display:flex;
  flex-flow:column;
  height: max-content;
  /* row-gap: 10px; */
}
.f-item{
  display:flex;
  justify-content: left;
  align-items: center;
  padding-left: 5em;
  /* background-color: aquamarine; */
  width: 100%;
  height: 30vh;
}
.f-item:nth-of-type(1){
  background-color: #F0EDED;
}
.f-item:nth-of-type(2){
  background-color: #0000D5;
}
.f-item:nth-of-type(3){
  background-color: #000000;
}
.f-item:nth-of-type(4){
  background-color: #C4C4C4;
}
.f-item:nth-of-type(5){
  background-color: #7500C0;
  color:white;
}
.top_logo{
  height: 50px !important;;
}
.logo-font{
  font-size: 5em;
  line-height: 1em;
}

